.grid {
    display: grid;
    grid-template-rows:1fr 5fr 4fr 4fr 4fr 6fr;
    grid-template-columns:1fr 1fr;
    grid-template-areas:
    "header header"
    "meimage aboutme"
    "aboutgarden gardenimage"
    "aboutteaching teachingimage"
    "aboutdog dogimage"
    "footer footer";
}
.colorbar{
    height: 12px;
    background-color: #88B04B;
}
.header{
    grid-area: header;
}
.fernimg{
    opacity: .75;
    width: 70px;
}
.navbar{
    width: 90%; 
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
    padding-bottom: 25px;
    background-color: #fff;
}
.nav{
    position: relative;
    float: right;
    padding: 20px;
}
.navwork {
    margin-left: 25px;
    margin-right: 25px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    color: #727272;
    text-decoration: none;
}
.navabout {
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    border-style: solid;
    border-width: 0px 0px 2px;
    color: #727272;
    text-decoration: none;
}
a:hover{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    color: #cacaca;
    text-decoration: none;
}
body{
    margin:0;
}
h1{
    margin-top: 80px;
    margin-bottom: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    color: black;
    letter-spacing: 0.1em;
}
p{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
    color: #8A8A8A;
    line-height: 40px;
    margin-top:5%;
}
.meimage{
    grid-area: meimage;
    margin-top: 5%;
    padding-top: 12%;
    padding-bottom: 12%;
    padding-left: 12%;
    padding-right: 8%;
}
.meimg{
    width: 100%;
}
.aboutme{
    grid-area: aboutme;
    margin-top:14%;
    padding-left: 6%;
    padding-right: 13%;
}
.aboutgarden{
    grid-area: aboutgarden;
    background-color: #FAFAFA;
}
.gardenimage{
    grid-area: gardenimage;
    background-color: #FAFAFA;
}
.threeimg{
    margin-top: 18%;
    width: 70%;
    padding-left: 10%;
    padding-right: 10%;
}
.aboutteaching{
    grid-area: aboutteaching;
    background-color: #FAFAFA;
}
.teachingimage{
    grid-area: teachingimage;
    background-color: #FAFAFA;
}
.aboutdog{
    grid-area: aboutdog;
    background-color: #FAFAFA;
}
.dogimage{
    grid-area: dogimage;
    background-color: #FAFAFA;
}
.footer{
    grid-area: footer;
}
