.nav{
    position: relative;
    float: right;
}
.navwork {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
}
.navabout {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
}
a{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
}