.grid {
    display: grid;
    grid-template-rows:1fr 6fr 4fr 4fr 4fr 6fr;
    grid-template-columns:1fr 1fr;
    grid-template-areas:
    "header header"
    "meimage aboutme"
    "aboutgarden gardenimage"
    "aboutteaching teachingimage"
    "aboutdog dogimage"
    "footer footer";
}
.header{
    grid-area: header;
}
.meimage{
    grid-area: meimage;
}
.aboutme{
    grid-area: aboutme;
}
.aboutgarden{
    grid-area: aboutgarden;
}
.gardenimage{
    grid-area: gardenimage;
}
.aboutteaching{
    grid-area: aboutteaching;
}
.teachingimage{
    grid-area: teachingimage;
}
.aboutdog{
    grid-area: aboutdog;
}
.dogimage{
    grid-area: dogimage;
}
.footer{
    grid-area: footer;
}
.colorbar{
    height: 10px;
    background-color: green;
}
.navbar{
    width: 90%; 
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
    padding-bottom: 25px;
    background-color: #fff;
}
.nav{
    position: relative;
    float: right;
}
.navwork {
    margin-left: 25px;
    margin-right: 25px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    color: #727272;
    text-decoration: none;
}
.navabout {
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    border-style: solid;
    border-width: 0px 0px 2px;
    color: #727272;
    text-decoration: none;
}
a:hover{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    color: #cacaca;
    text-decoration: none;
}
h1{
    margin-top: 80px;
    margin-bottom: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    color: black;
    letter-spacing: 0.1em;
}